<html>
<head>
	<meta  name = "viewport" content = "initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no">
	    <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../css/imgs/niceicon.png">
  <link rel="icon" sizes="128x128" href="../css/imgs/niceicon.png">
  <link rel="apple-touch-icon" sizes="128x128" href="../css/imgs/niceicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="../css/imgs/niceicon.png">
<!-- 	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' /> -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/js/facebook-init.js"></script>
	<script src="/js/googleanalytics.js"></script>
	<script src="/js/graph.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<title><%= title %></title>
	
	<noscript>

	</noscript>
</head>

<body>
<!-- 	<header>
		<h1>EasyRecorder | We are easing your life!</h1>
	</header>
 -->