<!DOCTYPE html>
<!-- <html manifest="cache.manifest"> -->
<html>
<head>
  <meta  name = "viewport" content = "initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no"> 
      <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../css/imgs/niceicon.png">
  <link rel="icon" sizes="128x128" href="../css/imgs/niceicon.png">
  <link rel="apple-touch-icon" sizes="128x128" href="../css/imgs/niceicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="../css/imgs/niceicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/js/googleanalytics.js"></script>
  <script src="/js/facebook-init.js"></script>
  <script src="/js/ez-cache.js"></script>
  <script src="/js/ez-localStorage.js"></script>
  <script src="/js/ez-connection.js"></script>


  <script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/bootstrapValidator.min.js" type="text/javascript"></script>
  <script src="/js/moment.js" type="text/javascript"></script>
  <script src="/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <script src="/js/jquery-ui-1.11.1/jquery-ui.min.js" type="text/javascript"></script>    
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>    
  <script src="/js/facebook-init.js"></script>
  <script src="../js/homeCreate.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
    <!-- Core CSS File. The CSS code needed to make eventCalendar works -->
  <link rel="stylesheet" href="/css/calendar/eventCalendar.css">

  <!-- Theme CSS file: it makes eventCalendar nicer -->
  <link rel="stylesheet" href="/css/calendar/eventCalendar_theme_responsive.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">

  <link rel="stylesheet" type="text/css" href="/css/map.css">

  <title>EZsaving Home</title>
</head>

<body>

  <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      $(document).ready(function(){
        $("#logoutButton").click(function() {
            console.log("logging out...");

            $.post('/logout',function(){
                  FB.logout(function(res){
                    window.location.replace('/');
                  });
                  init_state();
                });

        });


      });

    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.

    }
  }

  function updateCache(){
    window.addEventListener('load', function(e) {
      window.applicationCache.addEventListener('updateready', function(e) {
        if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
          // Browser downloaded a new app cache.
          if (confirm('A new version of this site is available. Load it?')) {
            window.location.reload();
          }
        } else {
          // Manifest didn't changed. Nothing new to server.
        }
      }, false);

    }, false);
  }

  $("document").ready(function() {
    var number = +($("#accountBalance").find('.number').text());
    if (number <= 0) {
      $("#accountBalance").css("color","#90003F");
    } 
  })


  </script>

  <div id="homePage">
    <div class="span12 headerContainer">
      <h1 style="display: inline-block;">EZsaving</h1>
      <button class="btn btn-primary FBlogoutButton" id="logoutButton">Logout</button>
    </div>

    <div class="container-fluid" style="padding-top:20px; height:100%;">
      <div class="summaryArea">
        <div class="summaryText">
         <div class="summaryRow"><span class="summaryTitle">Expense of today:</span> <span class="summaryNumber">$<%= cost_of_today%></span></div>
         <div class="summaryRow"><br><span class="summaryTitle">Expense of this month:</span> <span class="summaryNumber">$<%= cost_of_this_month%></span></div>
         <div class="summaryRow"><br><span class="summaryTitle">Income of this month:</span> <span class="summaryNumber" style="color:#008108;">$<%= income_of_this_month%></span></div>
         <div class="summaryRow"><br><span class="summaryTitle">Account balance:</span> <span class="summaryNumber" id="accountBalance" style="color:#008108;">$<%= balance%></span></div>
       </div>
     </div>

     <div class="buttonArea" style="text-aligh:center;">
      <table style="text-align:center; margin:0 auto;">
        <tr>
          <td><button class="btn btn-info FBloginButton" id="homeExpenseButton" style="background-color:#52C7FF; border:none;" onclick="ExpenseModal()">Add an expense</button></td>
          <td><button class="btn btn-primary FBloginButton" id="homeIncomeButton" style="border:none;" onclick="IncomeModal()">Add an income</button></td>
        </tr>
      </table> 
    </div>

    <div class="iconArea" style="text-aligh:center; width:100%;">
      <table style="text-align:center; margin:0 auto;">
        <tr>
          <td>
            <a href="/list">
              <div class="EZiconBlock">
                <img class="EZicon" src="/css/imgs/list.png"/>
                <p class="EZtext">List view</p>
              </div>
            </a>
          </td>
          <td>
            <a href="/chart">
             <div class="EZiconBlock">
              <img class="EZicon" src="/css/imgs/chart.png"/>
              <p class="EZtext">Chart view</p>
            </div>
          </a>
        </td>
    </tr>
  </table> 
</div>
</div>

<footer style="position:inherit;">
  <div class="footer">
    <p style="margin-bottom:0px;">Copyright 2014 by CS3216 AY2014-2015 Team. All Rights Reserved.</p>
  </div>
</footer>
</div>



<!-- Modal of Expense-->
<div class="modal fade modalbody" id="addExpense" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onClick="Close()" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="recordTitle"></h4>
      </div>
      <div class="modal-body">
      <form id="Expenseform" class="form-horizontal">
        <div class="form-group">
      <label class ="col-lg-3">Amount</label>
          <div class="col-lg-8" style="
        font-size: 15px;
        font-weight: 100;
      ">
              <input type="text" class="form-control" id="amount" name="amount"  placeholder="amount" />
          </div>
          <label class ="col-lg-3">Description</label>
          <div class="col-lg-8" style="
        font-size: 15px;
        font-weight: 100;
      ">
              <input type="text" class="form-control" id="description" name="description"  placeholder="description" />
          </div>
          <label class ="col-lg-3">Location</label>
          <div class="col-lg-8" style="
        font-size: 15px;
        font-weight: 100;
      ">
          <select class="form-control" id="location" autofocu="" >
             <option id="currentLocation">Choose current location</option>
             <option id="mapLocation">Choose from map</option>

          </select>
          <input type="hidden" id="latlon"></input>
          <input type="hidden" id="address"></input>
          </div>

          <div class="categoryDiv">
            <label class="col-lg-3">Category</label>
             <div class="col-lg-8">
             <select id="CatSelector" class="form-control" required="" autofocus="">
              <option value="Diet">Diet</option>
        <option value="Transportation">Transportation</option>
        <option value="Recreation">Recreation</option>
        <option value="Households">Households</option>
        <option value="Shopping">Shopping</option>
        <option value="Others">Others</option>
         </select>
        </div>
        </div>

        <br>
        <label class="col-lg-3">TimeStamp</label>
      <div class="container" style="padding:0">
           <div class="row col-sm-6">
                 <div class='col-sm-6'>
                    <input type='text' class="form-control" id='datetimepicker6' name='datetimepicker6'/>
                 </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker6').datetimepicker();
                  });
              </script>
          </div>
      </div>

         </div>
    </form>
     <button type="button" id="buttonDelete" class="btn btn-default" data-dismiss="modal">Delete Record</button> 
      </div>
        
    <div class ="modal-footer">
     
     <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
     <button type="button" id="confirmSend"class="btn btn-default" data-dismiss="modal">Create</button>

        
    </div> 
   </div>
  </div>
</div>


  <div id="Mappicker"style="height:100vh;width:100vw;z-index:100;position:fixed;top:0px;display:none;">
  <div style="position:absolute; z-index:500; left: 107px; top:50px;">
        <button id="ChooseMap">Choose this location</button>
    </div>
     <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-canvas" style="height:100vh;width:100vw"></div>
</div>


</body>
</html>
